.widget.Blog-categories
	p.title Categories
	ul
		each val in ['Art', 'Sculpture and Performance', 'Creative', 'Design', 'Videos', 'Photography', 'Podcast', 'Tips', 'UX/UI']
			li
				a(href='project-single.html')=val