.widget.recent-projects
	p.title Recent Projects
	ul
		each val in ['Mutualismi', 'Genuine American Fortune Cookies', 'Moth Magazine', "Steve Gyurina Photography & Artopia Giclée Brand Video", 'Stepstool Manifesto']
			li
				a(href='project-page.html')=val