.widget.filter#works-filter
	p.title Works Filter
	ul
		li.active(data-filter='*') All
		li(data-filter='.Animation') Animation
		li(data-filter='.Video') Video
		li(data-filter='.Sculpture and Performance') Sculpture and Performance